@import url("https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fdfdfd;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
}
main {
  margin: auto;
  padding: 0.5rem;
  text-align: center;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 1rem;
}

h1 {
  color: #e74c3c;
  margin-bottom: 0.5rem;
}

.container {
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 1rem 0;
}

img {
    width: 90%;
    height: 90vh;
    object-fit: contain;
}

.responsive-canvas {
     width: 90%;
    height: 90vh;
    object-fit: contain;
}

#info-box {
    background-color: #e8e8e8;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    color: #454545;
}

input[type="file"] {
    display: none;
}
.nav-button {
    /* border: 1px solid #ccc; */
    display: inline-block;
    padding: 2px 4px;
    cursor: pointer;
}
